.settings {
  filter: grayscale(100%); }

.bold {
  font-weight: 900; }

p {
  margin: 0.5rem 0;
  line-height: 0.75rem; }

.location {
  margin-top: 0.5rem; }

#small-margin {
  margin-bottom: 0.5rem; }

.cancel-link {
  margin-top: 35px;
  display: inline-block; }

a {
  color: #6C6;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

input[type="range"] {
  width: 100%; }

.form-wrap {
  max-width: 350px;
  display: block; }
  .form-wrap i {
    color: #6C6; }
  .form-wrap .input-settings {
    width: 80%;
    max-width: 350px;
    color: #6C6;
    background: transparent;
    padding: 10px 0 5px 5px;
    margin: 5px 0 5px 10px;
    border: none;
    border-bottom: solid 1px #6C6;
    transition: border 0.3s; }
  .form-wrap .settings-btn {
    color: #FFF;
    font-weight: bold;
    background: #6C6;
    padding: 10px 20px;
    margin: 20px;
    float: right;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s; }
  .form-wrap .settings-btn:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1); }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #6C6; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6C6;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6C6;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6C6; }

[type=range] {
  -webkit-appearance: none;
  margin: 11.5px 0;
  width: 100%; }
  [type=range]:focus {
    outline: none; }
  [type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: all .2s ease;
    background: #6C6;
    border-radius: 5px; }
  [type=range]::-webkit-slider-thumb {
    border: 5px solid #DDD;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: #6C6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px; }
  [type=range]:focus::-webkit-slider-runnable-track {
    background: #79d279; }
  [type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: all .2s ease;
    background: #6C6;
    border-radius: 5px; }
  [type=range]::-moz-range-thumb {
    border: 5px solid #DDD;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: #6C6;
    cursor: pointer; }
  [type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: all .2s ease;
    background: transparent;
    border-color: transparent;
    border-width: 23px 0;
    color: transparent; }
  [type=range]::-ms-fill-lower {
    background: #53c653;
    border-radius: 10px; }
  [type=range]::-ms-fill-upper {
    background: #6C6;
    border-radius: 10px; }
  [type=range]::-ms-thumb {
    border: 5px solid #DDD;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: #6C6;
    cursor: pointer; }
  [type=range]:focus::-ms-fill-lower {
    background: #6C6; }
  [type=range]:focus::-ms-fill-upper {
    background: #79d279; }

/*# sourceMappingURL=settings.css.map */
