@import 'abstracts/variables';


body {
    font-color:$wit;
    font-family:Roboto, sans-serif;
    min-height:100%;
    margin:0;
}
.container{
    display:block;
    max-width:90%;
    margin:0 auto;
    padding-top:5%;
    padding-bottom:120px;
}
