/* Navigation */

nav{
  top:0;
  z-index: 5;
  width: 100%;
  color: white;
  display: flex;
  position: fixed;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);

  .main-nav{
    z-index: 1;
    display:flex;
    padding:0 16px;
    flex-direction:row;
    align-items: center;
    background-color: $main;
    justify-content: flex-start;
  }
  h1{
    font-size: 20px;
    margin-left: 32px;
  }
  h1.noburger{
    margin-left:56px;
  }
  a{
    color:white;
    display: inherit;
    text-decoration:none;
  }
  i{
    cursor:pointer;
  }
}
ul.tabs{
  margin:0;
  padding:0;
  width:100%;
  display: flex;
  font-weight: bold;
  flex-direction:row;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  background-color: $dark;
  text-transform: uppercase;

  li{
    width:33.333%;
    max-width:333.333px;
    text-align: center;
    padding:16px 0 13px;
    border-bottom:solid 3px transparent;

    a{
      color:$lightgrey;
      text-decoration: none;
    }
  }
  li.active{
    border-bottom:solid 3px white;
    a{
      color: white;
    }
  }
}
