@import '../abstracts/variables';
.favourites{
    filter: grayscale(100%);
}

.favourite{
    border-bottom: solid 1px #EEE;
    overflow: auto;
    padding-bottom: 5px;
    margin-bottom: 7.5px;
}
h3{
    margin:0;
}
p{
    margin:0;
}
.restaurant-name{
    font-family:'Roboto Black', sans-serif;
    font-weight: 900;
}
i{
    font-size:2.5rem !important;
    color:$groen;
    float: right;
    margin-top:0.2rem;
}
.unfavourite{
    filter:grayscale(100%);
}