@import '../abstracts/variables';

body {
    background-color: $groen;
}

#logo-wit {
    display: block;
    text-align: center;
    margin:85px auto 0;
    width: 80%;
    max-width: 500px;
}

.form-wrap {
    max-width: 350px;
    color: $wit;
    display: block;
    text-align: center;
    margin: 0 auto;


    .login-input {
        width: 80%;
        max-width: 350px;
        color: $wit;
        background: transparent;
        padding: 10px 0 5px 5px;
        margin: 5px 0 5px 5px;
        border: none;
        border-bottom: solid 1px $wit;
        transition: border 0.3s;
    }
    .login-input:focus{
        outline:none;
        border-bottom:solid 2px $wit;
    }
    .login-btn {
        color: $groen;
        font-weight: bold;
        background: $wit;
        padding: 10px 20px;
        margin: 20px;
        float: right;
        border:none;
        border-radius:5px;
        cursor:pointer;
        transition:0.5s;
    }
    .login-btn:hover{
        transform: scale(1.1);    
        -webkit-transform: scale(1.1);
    }
    .warning{
        display: none;
        color: $red;
        float: left;
        font-size:0.666rem;
        border:solid 1px $red;
        padding:5px;
        border-radius:5px;
        max-width:40%;
        margin:20px;
        background-color:rgba(255,0,0,0.05);
    }
    .fa-exclamation-circle{
        font-size:2em;
        padding:2.5px;
        float:left;
    }
    .sign-up-link {
        display: block;
        color: $wit;
        text-align: center;
        margin: 100px auto 0;
        text-decoration: none;
        width:33%;
    }
    .sign-up-link:hover{
        text-decoration: underline;
    }
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $wit;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $wit;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $wit;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $wit;
}
}

