@import '../abstracts/variables';

body {
    background-color: $groen;
}

#logo-wit {
    display: block;
    text-align: center;
    margin:85px auto 0;
    width: 80%;
    max-width: 500px;
}

.form-wrap {
    max-width: 350px;
    color: $wit;
    display: block;
    text-align: center;
    margin: 0 auto;


    .login-input {
        width: 80%;
        max-width: 350px;
        color: $wit;
        background: transparent;
        padding: 10px;
        border: none;
        border-bottom: solid 1px $wit;
        transition: border 0.3s;
    }
    .login-btn {
        color: $groen;
        font-weight: bold;
        background: $wit;
        padding: 10px 20px;
        margin: 20px auto;
        float: right;
    }
    .sign-up-link {
        display: block;
        color: $wit;
        text-align: center;
        margin: 100px auto;
        text-decoration: none;
    }
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $wit;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $wit;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $wit;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $wit;
}
}

