@import '../abstracts/variables';

.search{
    filter: grayscale(100%);
}
.search-form{
    color:$groen;
    padding-bottom:15px;
}
.results{
    clear:both;
    .search-result{
        border-bottom:solid 1px #EEE;
        padding:10px 5px;
    }
}
#back-to-top{
    position: fixed;
    bottom:100px;
    right:5%;
    font-size:3rem;
    color:$groen;
    z-index: 9999;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top.show {
    opacity: 1;
}
.search-input {
    width: 80%;
    max-width: 350px;
    color: $groen;
    background: transparent;
    padding: 10px 0 5px 5px;
    margin: 5px 0 5px 5px;
    border: none;
    border-bottom: solid 1px $groen;
    transition: border 0.3s;
}
.search-input:focus{
    outline:none;
    border-bottom:solid 2px $groen;
}
.search-btn {
    color: $wit;
    font-weight: bold;
    background: $groen;
    padding: 10px 20px;
    margin: 20px;
    float: right;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:0.5s;
}
.search-btn:hover{
    transform: scale(1.1);    
    -webkit-transform: scale(1.1);
}
h3{
    margin:0;
}
p{
    margin:0;
}
a{
    color:$groen;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
.category{
        font-family: 'Roboto Light', sans-serif;
        font-weight:100;
        color:#888;
        font-size: 75%;
    }
.restaurant-name{
    font-family:'Roboto Black', sans-serif;
    font-weight: 900;
}
.fa-star-o, .fa-star{
    font-size:2.5rem !important;
    color:$groen;
    float: right;
    margin-top:1.5rem;
}
input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

::-webkit-input-placeholder {
    color:    $groen;
}
:-moz-placeholder {
   color:    $groen;
   opacity:  1;
}
::-moz-placeholder {
   color:    $groen;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    $groen;
}