/* Settings */

.settings{
  margin:0;
  padding:0;
  height:auto;
  padding-top:56px;
  box-sizing: border-box;

  input{
    margin:0;
  }
}
h3{
  display: inline-block;
}
.distance{
  float:right;
  color:$grey;
}
