@import '../abstracts/variables';

body {
    background-color: $wit;
}

#logo-groen {
    display: block;
    text-align: center;
    margin:85px auto 0;
    width: 80%;
    max-width: 500px;
}

.form-wrap {
    max-width: 350px;
    color: $groen;
    display: block;
    text-align: center;
    margin: 0 auto;


    .signup-input {
        width: 80%;
        max-width: 350px;
        color: $groen;
        background: transparent;
        padding: 10px;
        border: none;
        border-bottom: solid 1px $groen;
        transition: border 0.3s;
    }
    .signup-btn {
        color: $wit;
        font-weight: bold;
        background: $groen;
        padding: 10px 20px;
        margin: 20px auto;
        float: right;
    }
}    