@import '../abstracts/variables';

body {
    background-color: $wit;
}

#logo-groen {
    display: block;
    text-align: center;
    margin:85px auto 0;
    width: 80%;
    max-width: 500px;
}

.form-wrap {
    max-width: 350px;
    color: $groen;
    display: block;
    text-align: center;
    margin: 0 auto;


    .signup-input {
        width: 80%;
        max-width: 350px;
        color: $groen;
        background: transparent;
        padding: 10px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border: none;
        border-bottom: solid 1px $groen;
        transition: border 0.3s;
    }
    .signup-input:focus{
        outline:none;
        border-bottom:solid 2px $groen;
    }
    .signup-btn {
        color: $wit;
        font-weight: bold;
        background: $groen;
        padding: 10px 20px;
        margin: 20px;
        float: right;
        border:none;
        border-radius:5px;
        cursor:pointer;
        transition:0.5s;
    }
    .signup-btn:hover{
        transform: scale(1.1);    
        -webkit-transform: scale(1.1);
    }
    .log-in-link {
        display: block;
        color: $groen;
        text-align: center;
        margin: 100px auto 0;
        text-decoration: none;
    }
    .log-in-link:hover{
        text-decoration: underline;
    }
}    
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $groen;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $groen;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $groen;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $groen;
}