<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ '/css/main.css'  | prepend: site.baseurl }}">
  <link rel="icon" href="/images/favicon.png">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta property="og:url" content="https://manatran.github.io/" />
  <meta property="og:title" content="Vigor" />
  <meta property="og:image" content="https://i.imgur.com/Wr6l4gc.png" />
  <meta property="og:description" content="The path to a healthy lifestyle starts with us." />
</head>

<body>
