<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <script src="{{ 'https://use.fontawesome.com/238b9bcd2b.js' }}"></script>
    <link rel="stylesheet" href="{{ 'https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' }}'">
    <link rel="stylesheet" href="{{ 'https://fonts.googleapis.com/icon?family=Material+Icons' }}'">
    <link rel="stylesheet" href="{{ 'https://code.getmdl.io/1.2.1/material.min.css' }}'">
    <link rel="stylesheet" href="{{ '/css/main.css'  | prepend: site.baseurl }}">
    <link rel="stylesheet" href="/css/{{ page.title | downcase }}.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="resources/images/icon.png">
</head>
<body>
    <nav class="navbar">
    <ul>
        <li class="icon"><a href=""><img src="resources/images/icons/settings.png" alt="Settings"></a></li>
        <li class="icon"><a href=""><img src="resources/images/icons/search.png" alt="Search"></a></li>
        <li class="icon"><a href=""><img id="big" src="resources/images/icons/home.png" alt="Home"></a></li>
        <li class="icon"><a href=""><img src="resources/images/icons/profile.png" alt="Profile"></a></li>
        <li class="icon"><a href=""><img src="resources/images/icons/favourites.png" alt="Favourites"></a></li>
    </ul>
</nav>
