<header>
    <img src="resources/images/logo_klein.png" alt="Logo" class="logo">
    <h1>{{ page.title }} <i class="fa fa-bars" aria-hidden="true"></i>
        <div class="dropdown-content">
            <ul>
                <li class="icon settings"><a href="settings.html">Settings</a></li>
                <li class="icon search"><a href="search.html">Search</a></li>
                <li class="icon home"><a href="home.html">Home</a></li>
                <li class="icon profile"><a href="profile.html">Profile</a></li>
                <li class="icon favourites"><a href="favourites.html">Favourites</a></li>
            </ul>
        </div>
    </h1>
</header>