<nav class="navbar">
    <ul>
        <li class="icon"><a href=""><img src="resources/images/icons/settings.png" alt="Settings"></a></li>
        <li class="icon"><a href=""><img src="resources/images/icons/search.png" alt="Search"></a></li>
        <li class="icon"><a href=""><img id="big" src="resources/images/icons/home.png" alt="Home"></a></li>
        <li class="icon"><a href=""><img src="resources/images/icons/profile.png" alt="Profile"></a></li>
        <li class="icon"><a href=""><img src="resources/images/icons/favourites.png" alt="Favourites"></a></li>
    </ul>
</nav>