<nav class="navbar">
    <ul>
        <li class="icon settings"><a href="settings.html"><img src="resources/images/icons/settings.png" alt="Settings"></a></li>
        <li class="icon search"><a href="search.html"><img src="resources/images/icons/search.png" alt="Search"></a></li>
        <li class="icon home"><a href="home.html"><img id="big" src="resources/images/icons/home.png" alt="Home"></a></li>
        <li class="icon profile"><a href="profile.html"><img src="resources/images/icons/profile.png" alt="Profile"></a></li>
        <li class="icon favourites"><a href="favourites.html"><img src="resources/images/icons/favourites.png" alt="Favourites"></a></li>
    </ul>
</nav>