/* Typography */

:root{
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
}
::selection{
  color: white;
  background-color: $secondary;
}
.responsive{
  max-width:1000px;
  margin:0 auto;
}
.container{
  padding:16px;
  margin-top:56px;
  position: relative;
  background-color:white;
}
.nomargin{
  margin-top:0;
}
.dark{
  color:white;
  background-color:$dark;
}
.dropshadow{
  box-shadow: 0 -3px 6px rgba(0,0,0,0.25);
}

@media (min-width: 1000px) {
  .dropshadow{
    box-shadow: none;
  }
}

h2{
  color:$secondarydark;
  font-size:20px;
  font-weight: bold;
}

h3{
  margin:0;
  color:$secondary;
}
h4{
  margin:0;
  color:$grey;
}

p.light{
  color:$grey;
  margin:0;
  text-align:center;
}

p.error{
  color:red;
  margin: 0;
  text-align:center;
}
p.success{
  color:$secondary;
  margin: 0;
  text-align:center;
}

a{
  color:$secondary;
  text-decoration: none;
}
a#logout{
  cursor:pointer;
  font-size:14px;
  margin:0;
  color:$secondarylight;
}
